#display {
  padding: 1rem;
  width: 15rem;
  border: 1px solid #af303f;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  color: #e93d50;
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
}